<footer>
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-6 col-12">
                    <a class="logo" href="/">
                        <img src="../../build/img/logo.png" alt="">
                    </a>
                    <p>Beyond Meat® виробник інноваційних продуктів, які вже зараз називають їжею майбутнього.</p>
                    <p>01135, м.Київ, вул. Златоустівська, буд. 16</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <ul class="footer-contact">
                        <li>
                            <a href="tel:+3 (067) 505 81 18">
                                <div class="krugal">
                                    <img src="../../build/img/phone2.svg" alt="">
                                </div>
                                <span>+3 (067) 505 81 18</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:beyondmeatukraine@gmail.com">
                                <div class="krugal">
                                    <img src="../../build/img/mail.svg" alt="">
                                </div>
                                <span>beyondmeatukraine@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <ul class="footer-contact">
                        <li>
                            <a href="https://msng.link/o/?BeyondMeatUaBot=tg" target="_blank">
                                <div class="krugal">
                                    <img src="../../build/img/telega.svg" alt="">
                                </div>
                                <span>@BeyondMeatUaBot</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bmukraine/" target="_blank">
                                <div class="krugal">
                                    <img src="../../build/img/insta.svg" alt="">
                                </div>
                                <span>bmukraine</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-label">
                <img src="../../build/img/label.png" alt="">
            </div>
            <ul class="header-menu">
                <li><a href="#">Меню</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <a href="https://daykraba.com/" class="krab" target="_blank">
                <img src="../../build/img/krab.png" alt="">
            </a>
        </div>
    </div>
</footer>
