<div class="about-page">
    <!-- <section class="about-main">
        <img class="leaf1" src="../../build/img/leaf.png" alt="">
        <img class="leaf2" src="../../build/img/leaf.png" alt="">
        <div class="about-main-content">
            <div class="about-main-title-wrp">
                <img class="about-main-logo" src="../../build/img/BEYONDMEAT.svg" alt="">
                <p class="about-main-subtitle">ЇЖА МАЙБУТНЬОГО ВЖЕ В УКРАЇНІ</p>
            </div>
        </div>
    </section> -->
    <section class="about-new-main">
        <div class="container">
            <div class="big-content">
                <div class="new-icon-wrp new-icon-wrp-left">
                    <div class="new-icon" data-part="other">
                        <img src="../../build/img/ingr.svg" alt="">
                    </div>
                </div>
                <div class="new-icon-wrp new-icon-wrp-right">
                    <div class="new-icon" data-part="cotleta">
                        <img src="../../build/img/cotleta.svg" alt="">
                    </div>
                </div>
                <div class="new-icon-wrp new-icon-wrp-top">
                    <div class="new-icon" data-part="briosh">
                        <img src="../../build/img/briosh.svg" alt="">
                    </div>
                </div>
                <div class="new-icon-wrp new-icon-wrp-bottom">
                    <div class="new-icon" data-part="sous">
                        <img src="../../build/img/sous.svg" alt="">
                    </div>
                </div>
                <div class="big-circle-wrp">
                    <div class="big-circle next"></div>
                    <img class="contur" src="../../build/img/burger2.svg" alt="">
                    <img class="real" src="../../build/img/burger.svg" alt="">
                </div>
            </div>
            <div class="about-new-main-content">
                <div id="burger" class="new-text-wrp active">
                    <h2 class="about-new-title"><span>Бургер Beyond meat</span></h2>
                    <p class="about-new-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dignissimos illum, voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div id="briosh" class="new-text-wrp">
                    <h2 class="about-new-title"><span>Булочка бріош</span></h2>
                    <p class="about-new-text">Класична здобна бургерна булочка з яскраво вираженими вершковими нотками, не містить добавок- прянощів, або насіння</p>
                </div>
                <div id="cotleta" class="new-text-wrp">
                    <h2 class="about-new-title"><span>Котлета Beyond meat</span></h2>
                    <p class="about-new-text">Перше в світі м'ясо на рослинній основі з текстурою і соковитістю яловичого фаршу.</p>
                </div>
                <div id="sous" class="new-text-wrp">
                    <h2 class="about-new-title"><span>Соус</span></h2>
                    <p class="about-new-text">Всі соуси приготовані за фірмовим рецептом нашого шеф повара</p>
                </div>
                <div id="other" class="new-text-wrp">
                    <h2 class="about-new-title"><span>Інші інгрідієнти</span></h2>
                    <p class="about-new-text">У кожному бургері підібрані додаткові інгрідієнти,  що доповнюють унікальний смак кожного бургера</p>
                </div>
                <a href="#" class="link-to-catalog">До каталогу</a>
                <div class="shtorka"></div>
            </div>
        </div>
    </section>
    <section class="about-second">
        <div class="container">
            <div class="row meat-row">
                <div class="col-md-7 col-12">
                    <h2 class="about-h2-mob">їжа майбутнього</h2>
                    <div class="about-img">
                        <img class="about-general-img" src="../../build/img/burger1.jpg" alt="">
                        <img class="about-label-img" src="../../build/img/label.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="about-info pl-34">
                        <h2 class="about-h2-desc">їжа майбутнього</h2>
                        <p>Beyond Meat® виробник інноваційних продуктів, які вже зараз називають їжею майбутнього. Рослинне м'ясо складається з горохового білка, рису, буряку, води й олії і є на 100% веганським, однак за консистенцією, запахом, смаком і кольором його практично неможливо відрізнити від звичайного м'яса.</p>
                    </div>
                </div>
            </div>
            <div class="row meat-row">
                <div class="col-md-5 col-12">
                    <div class="about-info pr-34">
                        <h2 class="about-h2-desc">Iсторiя</h2>
                        <p>З 2016 року стартап з виробництва рослинного  м'яса майбутнього Beyond Meat вже продав 25 мільйонів рослинних бургерів через торговельні мережі й ресторани. У розробку рослинного м'яса вклалися засновник Microsoft Білл Гейтс, співзасновник Twitter Біз Стоун, актор Леонардо Ді Капріо, екс&#8209;CEO McDonald's Дон Томпсон і багато інших найбагатших людей, яким небайдуже майбутнє нашої планети. У листопаді 2018 року компанія подала заявку на IPO для розміщення акцій на Nasdaq у розмірі $100 млн. Зараз рослинне м'ясо можна купити в 53 000 роздрібних точок по всій Америці, а в 2018 році почалися продажі в&nbsp;Європі.</p>
                    </div>
                </div>
                <div class="col-md-7 col-12">
                    <h2 class="about-h2-mob">Iсторiя</h2>
                    <div class="about-img">
                        <img class="about-general-img" src="../../build/img/eat.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slider-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-12">
                    <div class="about-slider-nav-wrp">
                        <div class="about-slider-nav">
                            <div>
                                <div class="about-slide-nav">
                                    <img src="../../build/img/consist.png" alt="">
                                    <p>Склад</p>
                                </div>
                            </div>
                            <div>
                                <div class="about-slide-nav">
                                    <img src="../../build/img/cooker.png" alt="">
                                    <p>Виробництво</p>
                                </div>
                            </div>
                            <div>
                                <div class="about-slide-nav">
                                    <img src="../../build/img/burger-mini.png" alt="">
                                    <p>Готування</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-12">
                    <div class="about-slider-main-wrp">
                        <div class="about-slider-main">
                            <div>
                                <div class="about-slide-main">
                                    <p class="about-slider-title">Склад</p>
                                    <p>Основними компонентами бургера є ізолят горохового білка, вода, рапсова олія прямого віджимання, трохи солі, оцту, крохмалю, дріжджового екстракту.</p>
                                    <p>Червоний колір котлеті надає буряковий сік. Такий склад на 100% підходить веганам.В одній котлеті цілих 20 грамів білка, це навіть більше, ніж у котлеті зі звичайного м'яса. Водночас у м'ясі майбутнього немає ГМО, глютену й сої, антибіотиків, холестерину, гормонів і паразитів.</p>
                                </div>
                            </div>
                            <div>
                                <div class="about-slide-main">
                                    <p class="about-slider-title">Виробництво</p>
                                    <p>Червоний колір котлеті надає буряковий сік. Такий склад на 100% підходить веганам.В одній котлеті цілих 20 грамів білка, це навіть більше, ніж у котлеті зі звичайного м'яса. Водночас у м'ясі майбутнього немає ГМО, глютену й сої, антибіотиків, холестерину, гормонів і паразитів.</p>
                                </div>
                            </div>
                            <div>
                                <div class="about-slide-main">
                                    <p class="about-slider-title">Готування</p>
                                    <p>Основними компонентами бургера є ізолят горохового білка, вода, рапсова олія прямого віджимання, трохи солі, оцту, крохмалю, дріжджового екстракту.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-arrows-wrp">
                            <div class="prev-about-arrow main-arrow">
                                <img src="../../build/img/prev.svg" alt="">
                            </div>
                            <div class="next-about-arrow main-arrow">
                                <img src="../../build/img/next.svg" alt="">
                            </div>
                        </div>
                        <div class="about-dots-wrp"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-question">
        <div class="container">
            <h2>FAQ</h2>
            <div class="faq-content">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="fag-block">
                            <h3>О КОМПАНИИ И ПРОДУКТЕ</h3>
                            <div class="accordion-fag" id="accordion1">
                              <div class="card">
                                <div class="card-header" id="heading1">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                      Откуда доставляется продукт? Где производят?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion1">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading2">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                      Когда будет и в каких супермаркетах? Какая цена?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading3">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                      Что такое Beyond Meat? Зачем?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading4">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                      Чья это компания?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading5">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                      Зачем создавать растительный продукт похожий на мясо? Разве люди, которые отказываются от мяса хотят чувствовать его вкус?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading6">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                      Но это же все равно производство? Разве оно не наносит вред окружающей  среде?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading7">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                      Есть ли какие-то сертификаты?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading8">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                      Какие есть еще продукты? Будут ли в Украине? Когда?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion1">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="fag-block">
                            <h3>КОНКУРЕНТЫ</h3>
                            <div class="accordion-fag" id="accordion2">
                              <div class="card">
                                <div class="card-header" id="heading21">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                      Чем Beyond Meat отличается от Imposible
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion2">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="fag-block">
                            <h3>СОСТАВ И ВКУС</h3>
                            <div class="accordion-fag" id="accordion3">
                              <div class="card">
                                <div class="card-header" id="heading31">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
                                      Это вегетарианский бургер?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse31" class="collapse" aria-labelledby="heading31" data-parent="#accordion3">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading32">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                                      Что входит в состав?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse32" class="collapse" aria-labelledby="heading32" data-parent="#accordion3">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading33">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                                      Как вы добиваетесь вкуса и цвета мяса? Используете какие-то добавки или усилителей вкуса?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse33" class="collapse" aria-labelledby="heading33" data-parent="#accordion3">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading34">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse34" aria-expanded="false" aria-controls="collapse34">
                                      Откуда взяли белок?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse34" class="collapse" aria-labelledby="heading34" data-parent="#accordion3">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading35">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse35" aria-expanded="false" aria-controls="collapse35">
                                      Не будет ли у меня аллергии?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse35" class="collapse" aria-labelledby="heading35" data-parent="#accordion3">
                                    <div class="card-body">
                                        Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="fag-block">
                            <h3>ПРИГОТОВЛЕНИЕ</h3>
                            <div class="accordion-fag" id="accordion4">
                              <div class="card">
                                <div class="card-header" id="heading41">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse41" aria-expanded="false" aria-controls="collapse41">
                                      Как производят продукт?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse41" class="collapse" aria-labelledby="heading41" data-parent="#accordion4">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading42">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse42" aria-expanded="false" aria-controls="collapse42">
                                      Как продукт хранится? Какой срок годности?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse42" class="collapse" aria-labelledby="heading42" data-parent="#accordion4">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading43">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse43" aria-expanded="false" aria-controls="collapse43">
                                      Какой готовить?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse43" class="collapse" aria-labelledby="heading43" data-parent="#accordion4">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="heading44">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse44" aria-expanded="false" aria-controls="collapse44">
                                      Можно ли съесть котлету сырой?
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapse44" class="collapse" aria-labelledby="heading44" data-parent="#accordion4">
                                  <div class="card-body">
                                      Beyond Meat – это американский стартап. Компания существует ещес 2009 годаА на сегодня его продукция продается уже в 35 000 магазинов и заведений в 20 странах.
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-insta">
        <div class="container">
            <div class="flex-base">
                <h2>Мы в Instagram</h2>
                <a href="https://www.instagram.com/bmukraine/" target="_blank">@bmukraine</a>
            </div>
            <div class="our-insta-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <a class="insta-block" href="#">
                            <img src="../../build/img/insta1.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a class="insta-block" href="#">
                            <img src="../../build/img/insta2.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a class="insta-block" href="#">
                            <img src="../../build/img/insta3.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a class="insta-block" href="#">
                            <img src="../../build/img/insta4.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
