<div class="menu">
    <div class="btn-menu-close"></div>
    <div class="menu-overlay"></div>
    <ul class="menu-content">
        <li><a href="#">Меню</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">О нас</a></li>
        <li>
            <a href="#" class="open-enter-mob">
                <img src="../../build/img/user.svg" alt="">
                <span>войти</span>
            </a>
        </li>
        <li>
            <a class="" href="tel:+3 (067) 505 81 18">
                <img src="../../build/img/phone2.svg" alt="">
                <span>+3 (067) 505 81 18</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../build/img/cart.svg" alt="">
                <span>корзина</span>
            </a>
        </li>
    </ul>
</div>
