<div class="forgot-page pb80">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-md-6 col-12">
                <p class="subtitle-forgot">ВОССТАНОВИТЬ ПАРОЛЬ</p>
                <p>Забыли свой пароль? Укажите свой Email или имя пользователя. Ссылку на создание нового пароля вы получите по электронной почте.</p>
            </div>
        </div>
        <form id="valid3" action="#">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                    <div class="input-style">
                        <p class="input-title">Имя пользователя или электронная почта&nbsp;*</p>
                        <input class="pop-up-input input-valid" type="text" required>
                        <div class="input-error-plashka">
                            <p class="input-error-title">Ошибка!</p>
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <input class="popup-btn" type="submit" name="" value="Сбросить пароль">
                </div>
            </div>
        </form>
    </div>
</div>
