<div class="card-page pt40 pb80">
    <div class="container">
        <h2>Корзина</h2>
        <div class="card-page-content">
            <ul class="cart-head">
                <li>Товар</li>
                <li>Цена</li>
                <li>Количество</li>
                <li>Итого</li>
            </ul>
            <div class="cart-block-wrp">
                <div class="cart-block">
                    <div class="flex-vertical">
                        <div class="delete-block desc">
                            <img src="../../build/img/delete.svg" alt="">
                        </div>
                        <a href="#" class="cart-info">
                            <div class="cart-img">
                                <img src="../../build/img/burger2.jpg" alt="">
                            </div>
                            <p class="cart-name">Beyond Burger</p>
                        </a>
                    </div>
                    <p class="cart-price cart-price-item"><span>270.31</span>  грн</p>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus cartMinus"><span></span></div>
                        <input type="text" placeholder="1" value="1" class="quantity-product-input input-number quantity-cart-input">
                        <div class="quantity-btn plus cartPlus"><span></span> </div>
                    </div>
                    <p class="cart-price cart-price-total"><span>270.31</span>  грн</p>
                    <div class="delete-block mob">
                        <img src="../../build/img/delete.svg" alt="">
                    </div>
                </div>
                <div class="cart-block">
                    <div class="flex-vertical">
                        <div class="delete-block desc">
                            <img src="../../build/img/delete.svg" alt="">
                        </div>
                        <a href="#" class="cart-info">
                            <div class="cart-img">
                                <img src="../../build/img/burger2.jpg" alt="">
                            </div>
                            <p class="cart-name">Beyond Burger</p>
                        </a>
                    </div>
                    <p class="cart-price cart-price-item"><span>220.00</span>  грн</p>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus cartMinus"><span></span></div>
                        <input type="text" placeholder="1" value="1" class="quantity-product-input input-number quantity-cart-input">
                        <div class="quantity-btn plus cartPlus"><span></span> </div>
                    </div>
                    <p class="cart-price cart-price-total"><span>220.00</span>  грн</p>
                    <div class="delete-block mob">
                        <img src="../../build/img/delete.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="total-block">
                <p>Итого:</p>
                <p class="total-summa"><span>45 000</span>  грн</p>
            </div>
            <div class="cart-big-btns">
                <div class="cart-renew-btn">Обновить корзину</div>
                <div class="cart-checkout-btn">Оформить заказ</div>
            </div>
        </div>
    </div>
</div>
