<main>
    <div class="main-screen">
        <img class="leaf1" src="../../build/img/leaf.png" alt="">
        <img class="leaf2" src="../../build/img/leaf.png" alt="">
        <div class="container">
            <div class="main-slider-wrp">
                <div class="main-slider">
                    <div>
                        <div class="main-slide">
                            <img src="../../build/img/banner.jpg" alt="">
                            <p>BANNER</p>
                        </div>
                    </div>
                    <div>
                        <div class="main-slide">
                            <img src="../../build/img/banner.jpg" alt="">
                            <p>BANNER</p>
                        </div>
                    </div>
                </div>
                <div class="prev-main-arrow main-arrow">
                    <img src="../../build/img/prev.svg" alt="">
                </div>
                <div class="next-main-arrow main-arrow">
                    <img src="../../build/img/next.svg" alt="">
                </div>
                <div class="slick-dots-wrp"></div>
            </div>
        </div>
    </div>
    <section class="second-section">
        <div class="container">
            <h2>Меню</h2>
            <div class="carte-wrp">
                <ul class="carte-tabs">
                    <li class="active">Бургеры</li>
                    <li>Картофель</li>
                    <li>Салаты</li>
                    <li>Напитки</li>
                </ul>
                <img src="../../build/img/logo-mini.svg" alt="">
            </div>
            <div class="carte-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="dish" data-label="green">
                            <div class="dish-img">
                                <img src="../../build/img/burger1.jpg" alt="">
                                <div class="dish-label green">
                                    <img class="green" src="../../build/img/leaf.svg" alt="">
                                    <div>
                                        <span>вегетарианское</span>
                                    </div>
                                </div>
                                <div class="dish-label hot">
                                    <img class="hot" src="../../build/img/hot.svg" alt="">
                                    <div>
                                        <span>остренькое</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dish-info">
                                <div>
                                    <div class="flex">
                                        <p class="dish-title">BBQ RANCH BEYOND BURGER</p>
                                        <div class="info-btn">
                                            <img src="../../build/img/info.svg" alt="">
                                            <div class="more-info-wrp">
                                                <div class="more-info">
                                                    <p class="weight">350 грамм</p>
                                                    <p>The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="dish-text">The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                </div>
                                <div class="flex">
                                    <p class="dish-price">120 грн</p>
                                    <div class="dish-buy-btn">
                                        В корзину
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="dish" data-label="hot">
                            <div class="dish-img">
                                <img src="../../build/img/burger2.jpg" alt="">
                                <div class="dish-label green">
                                    <img class="green" src="../../build/img/leaf.svg" alt="">
                                    <div>
                                        <span>вегетарианское</span>
                                    </div>
                                </div>
                                <div class="dish-label hot">
                                    <img class="hot" src="../../build/img/hot.svg" alt="">
                                    <div>
                                        <span>остренькое</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dish-info">
                                <div>
                                    <div class="flex">
                                        <p class="dish-title">BBQ RANCH BEYOND BURGER</p>
                                        <div class="info-btn">
                                            <img src="../../build/img/info.svg" alt="">
                                            <div class="more-info-wrp">
                                                <div class="more-info">
                                                    <p class="weight">350 грамм</p>
                                                    <p>The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="dish-text">The world's first </p>
                                </div>
                                <div class="flex">
                                    <p class="dish-price">120 грн</p>
                                    <div class="dish-buy-btn">
                                        В корзину
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="dish">
                            <div class="dish-img">
                                <img src="../../build/img/burger3.jpg" alt="">
                                <div class="dish-label green">
                                    <img class="green" src="../../build/img/leaf.svg" alt="">
                                    <div>
                                        <span>вегетарианское</span>
                                    </div>
                                </div>
                                <div class="dish-label hot">
                                    <img class="hot" src="../../build/img/hot.svg" alt="">
                                    <div>
                                        <span>остренькое</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dish-info">
                                <div>
                                    <div class="flex">
                                        <p class="dish-title">BBQ RANCH BEYOND BURGER</p>
                                        <div class="info-btn">
                                            <img src="../../build/img/info.svg" alt="">
                                            <div class="more-info-wrp">
                                                <div class="more-info">
                                                    <p class="weight">350 грамм</p>
                                                    <p>The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="dish-text">The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                </div>
                                <div class="flex">
                                    <p class="dish-price">120 грн</p>
                                    <div class="dish-buy-btn">
                                        В корзину
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="dish" data-label="green">
                            <div class="dish-img">
                                <img src="../../build/img/burger1.jpg" alt="">
                                <div class="dish-label green">
                                    <img class="green" src="../../build/img/leaf.svg" alt="">
                                    <div>
                                        <span>вегетарианское</span>
                                    </div>
                                </div>
                                <div class="dish-label hot">
                                    <img class="hot" src="../../build/img/hot.svg" alt="">
                                    <div>
                                        <span>остренькое</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dish-info">
                                <div>
                                    <div class="flex">
                                        <p class="dish-title">BBQ RANCH BEYOND BURGER</p>
                                        <div class="info-btn">
                                            <img src="../../build/img/info.svg" alt="">
                                            <div class="more-info-wrp">
                                                <div class="more-info">
                                                    <p class="weight">350 грамм</p>
                                                    <p>The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="dish-text">The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                </div>
                                <div class="flex">
                                    <p class="dish-price">120 грн</p>
                                    <div class="dish-buy-btn">
                                        В корзину
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="dish" data-label="hot">
                            <div class="dish-img">
                                <img src="../../build/img/burger2.jpg" alt="">
                                <div class="dish-label green">
                                    <img class="green" src="../../build/img/leaf.svg" alt="">
                                    <div>
                                        <span>вегетарианское</span>
                                    </div>
                                </div>
                                <div class="dish-label hot">
                                    <img class="hot" src="../../build/img/hot.svg" alt="">
                                    <div>
                                        <span>остренькое</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dish-info">
                                <div>
                                    <div class="flex">
                                        <p class="dish-title">BBQ RANCH BEYOND BURGER</p>
                                        <div class="info-btn">
                                            <img src="../../build/img/info.svg" alt="">
                                            <div class="more-info-wrp">
                                                <div class="more-info">
                                                    <p class="weight">350 грамм</p>
                                                    <p>The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="dish-text">The world's first </p>
                                </div>
                                <div class="flex">
                                    <p class="dish-price">120 грн</p>
                                    <div class="dish-buy-btn">
                                        В корзину
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="dish">
                            <div class="dish-img">
                                <img src="../../build/img/burger3.jpg" alt="">
                                <div class="dish-label green">
                                    <img class="green" src="../../build/img/leaf.svg" alt="">
                                    <div>
                                        <span>вегетарианское</span>
                                    </div>
                                </div>
                                <div class="dish-label hot">
                                    <img class="hot" src="../../build/img/hot.svg" alt="">
                                    <div>
                                        <span>остренькое</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dish-info">
                                <div>
                                    <div class="flex">
                                        <p class="dish-title">BBQ RANCH BEYOND BURGER</p>
                                        <div class="info-btn">
                                            <img src="../../build/img/info.svg" alt="">
                                            <div class="more-info-wrp">
                                                <div class="more-info">
                                                    <p class="weight">350 грамм</p>
                                                    <p>The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="dish-text">The world's first plant-based burger that looks, cooks, and satisfies like beef without GMOs, soy, or gluten.</p>
                                </div>
                                <div class="flex">
                                    <p class="dish-price">120 грн</p>
                                    <div class="dish-buy-btn">
                                        В корзину
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
