<div class="forgot-page newPass-page pb80">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-md-6 col-12">
                <p class="subtitle-forgot">НОВЫЙ ПАРОЛЬ</p>
                <p>Введите новый пароль ниже.</p>
            </div>
        </div>
        <form id="valid4" action="#">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="input-style">
                        <p class="input-title">Новый пароль&nbsp;*</p>
                        <input class="pop-up-input input-valid password" type="password" data-input="password" name="password" value="">
                        <div class="input-error-plashka">
                            <p class="input-error-title">Ошибка!</p>
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                        <div class="show-pass">
                            <img src="../../build/img/eye.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="input-style mt20">
                        <p class="input-title">Повторите новый пароль&nbsp;*</p>
                        <input class="pop-up-input input-valid password" type="password" data-input="password" name="password" value="">
                        <div class="input-error-plashka">
                            <p class="input-error-title">Ошибка!</p>
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                        <div class="show-pass">
                            <img src="../../build/img/eye.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <input class="popup-btn" type="submit" name="" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
</div>
