<div class="checkoutSuccess-page pb80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <p class="checkoutSuccess-title">
                    <span>Спасибо. Ваш заказ был получен <img src="../../build/img/smile3.png" alt=""></span>
                </p>
                <ul class="checkoutSuccess-list">
                    <li>
                        <p>Номер заказа:</p>
                        <p>0001</p>
                    </li>
                    <li>
                        <p>Дата:</p>
                        <p>14.02.2020</p>
                    </li>
                    <li>
                        <p>Адрес:</p>
                        <p>ул. Валентиновская</p>
                    </li>
                    <li>
                        <p>Доставка на имя:</p>
                        <p>Сергей</p>
                    </li>
                    <li>
                        <p>Сумма заказа:</p>
                        <p>380 грн</p>
                    </li>
                </ul>
                <a href="/" class="checkoutSuccess-btn">Вернуться в меню</a>
            </div>
            <div class="col-lg-6 col-12">
                <div class="plashka-order">
                    <p class="popup-title">ВАШ ЗАКАЗ</p>
                    <div class="plashka-table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Товар</th>
                                    <th>Кол-во</th>
                                    <th>Всего</th>
                                </tr>
                                <tr>
                                    <td><a href="#">Салат Beyond</a></td>
                                    <td>x2</td>
                                    <td>220 грн</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Beyond Burger </a></td>
                                    <td>x1</td>
                                    <td>220 грн</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Напиток Coca-Cola 0,5</a></td>
                                    <td>x2</td>
                                    <td>220 грн</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="plashka-total">
                        <li>
                            <p>Сумма</p>
                            <p>380 грн</p>
                        </li>
                        <li>
                            <p>Доставка</p>
                            <p>Бесплатно</p>
                        </li>
                        <li>
                            <p>Всего</p>
                            <p>380 грн</p>
                        </li>
                        <li>
                            <p>Способ оплаты</p>
                            <p>Оплата наличными</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
