<div id="filterPopUp" class="filterPopUp">
    <div class="filter-block">
        <p class="catalog-subtitle">Производитель</p>
        <ul class="checkboxes-list checkboxes-list-catalog">
            <li>
                <label class="checkbox">
                  <input type="checkbox">
                  <div class="checkbox__text">Baumit</div>
                </label>
                <p>132</p>
            </li>
            <li>
                <label class="checkbox">
                  <input type="checkbox">
                  <div class="checkbox__text">Knauf</div>
                </label>
                <p>4</p>
            </li>
            <li class="absence">
                <label class="checkbox">
                  <input type="checkbox">
                  <div class="checkbox__text">Стоунлайт</div>
                </label>
                <p>0</p>
            </li>
            <li>
                <label class="checkbox">
                  <input type="checkbox">
                  <div class="checkbox__text">Cementex</div>
                </label>
                <p>52</p>
            </li>
            <li>
                <label class="checkbox">
                  <input type="checkbox">
                  <div class="checkbox__text">PLATO</div>
                </label>
                <p>1345</p>
            </li>
        </ul>
        <p class="catalog-subtitle">Цена</p>
        <div class="inputs-catalog-wrp">
            <input class="input-price input-number" type="tel" name="" value="" placeholder="От">
            <input class="input-price input-number" type="tel" name="" value="" placeholder="До">
            <input class="input-price-btn" type="submit" name="" value="ОК">
        </div>
        <div class="clear-filters-btn">
            <span class="icon-close"></span>
            <p>Очистить фильтры</p>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
