<div class="popupServicesNavMob-overlay"></div>
<div id="popupServicesNavMob" class="popupServicesNavMob">
    <div class="container">
        <ul class="services-nav">
            <li><a class="scrollToMinusHeader active" href="#servicesBlock1">Текст с разбиением на абзацы</a></li>
            <li><a class="scrollToMinusHeader" href="#servicesBlock2">Услуга 2</a></li>
            <li><a class="scrollToMinusHeader" href="#servicesBlock3">Услуга с названием длинным очень Услуга с названием длинным очень Услуга с названием длинным очень</a></li>
        </ul>
    </div>

</div>
<div class="pop-up-general-block-close-btn"></div>
