<div class="forgot-page newPassSuccess-page pb80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-12">
                <span class="subtitle-forgot">Письмо для восстановления пароля отправлено</span>
                <p>Письмо со ссылкой для сброса пароля было направлено на адрес электронной почты, привязанный к вашей учетной записи, доставка сообщения может занять несколько минут. Пожалуйста, подождите не менее 10 минут, прежде чем инициировать ещё один запрос.</p>
            </div>
        </div>
    </div>
</div>
