%input {
    height: 50px;
    line-height: normal;
    background: #fff;
    border: 1px solid rgba(120, 142, 161, 0.24);
    border-radius: 6px;
    padding: 16px;
    color: #2E282A;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Museo Sans Cyrl 700';
    &.password {
        padding-right: 48px;
    }
    &::placeholder {
        font-size: 14px;
        line-height: 18px;
        color: rgba(120, 142, 161, 0.64);
        font-family: 'Museo Sans Cyrl 700';
    }
    &:focus {
        border-color: #75C154;
    }
}
.input-style {
    position: relative;
    &.error {
        %input {
            border-color: #E4582C;
            &:hover {
                & + .input-error-plashka {
                    display: block;
                }
            }
        }
    }
    & + .input-style {
        margin-top: 24px;
    }
}
.input-error-title {
    color: #E4582C;
    margin-bottom: 4px;
}
.input-error {
    font-size: 14px;
    line-height: 21px;
}
.input-error-plashka {
    display: none;
    position: absolute;
    z-index: 2;
    top: calc(100% + 12px);
    width: 100%;
    padding: 24px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 32px 32px rgba(54, 78, 101, 0.08);
    border-radius: 10px;
}
.flex-vertical {
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-base {
    display: flex;
    align-items: baseline;
}
.flex-column {
    flex-direction: column;
}
.flex-align-initial {
    align-items: stretch;
}
.flex-center {
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}
h2 {
    font-size: 40px;
    line-height: 52px;
    color: #2E282A;
    font-family: 'Museo Sans Cyrl 900';
    margin-bottom: 16px;
}
h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #788EA1;
    font-family: 'Museo Sans Cyrl 700';
    margin-bottom: 16px;
}
.pt40 {
    padding-top: 40px;
}
.pb80 {
    padding-bottom: 80px;
}
%BTN {
    height: 50px;
    background-color: #75C154;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    font-family: 'Museo Sans Cyrl 700';
    font-size: 14px;
    line-height: 17px;
    transition: .2s;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background-color: darken(#75C154, 5%);
        color: #fff;
    }
}
.checkbox {
    input {
    	position: absolute;
    	z-index: -1;
    	opacity: 0;
        &:checked + .checkbox__text:after {
        	opacity: 1;
        }
    }
}
.checkbox__text {
	position: relative;
	padding: 0 0 0 32px;
	cursor: pointer;
    &::before {
    	content: '';
    	position: absolute;
    	top: calc(50% - 12px);
    	left: 0;
    	width: 24px;
    	height: 24px;
    	border-radius: 6px;
        background: #ffffff;
        border: 1px solid rgba(120, 142, 161, 0.24);
    }
    &::after {
    	content: '';
    	position: absolute;
    	top: calc(50% - 5px);
    	left: 5px;
    	width: 14px;
    	height: 10px;
    	background: url('../img/check-icon.svg') center no-repeat;
        background-size: cover;
    	opacity: 0;
    	transition: .2s;
    }
}
.radio {
    input {
    	position: absolute;
    	z-index: -1;
    	opacity: 0;
        &:checked + .radio__text:after {
        	opacity: 1;
        }
    }
}
.radio__text {
	position: relative;
	padding: 0 0 0 32px;
	cursor: pointer;
    line-height: 24px;
    transition: .2s;
    &::before {
    	content: '';
    	position: absolute;
    	top: calc(50% - 12px);
    	left: 0;
    	width: 24px;
    	height: 24px;
    	border-radius: 50%;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(120, 142, 161, 0.24);
    }
    &::after {
    	content: '';
    	position: absolute;
    	top: calc(50% - 7px);
    	left: 5px;
    	width: 14px;
    	height: 14px;
    	opacity: 0;
    	transition: .2s;
        border-radius: 50%;
        background-color: #75C154;
    }
}

@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    h2 {
        font-size: 36px;
        line-height: 1.2;
    }
    .pb80 {
        padding-bottom: 60px;
    }
}
