// mixin for counting
@mixin calc-width($property, $value) {
    #{$property}: calc(#{$value} * 100vw / 1366);
}
@mixin calc-height($property, $value) {
    #{$property}: calc(#{$value} * 100vh / 969);
}
@mixin calc-heightMob($property, $value) {
    #{$property}: calc(#{$value} * 100vh / 497);
}


$text: #788EA1;
$green: #75C154;
$dark: #2E282A;
$orange: #E4582C;
$yellow: #FFCA14;
$blue: #23BCBA;
$purple: #6F367D;
