<header>
    <div class="container flex">
        <div class="burger">
            <span></span>
        </div>
        <a class="logo" href="/">
            <img src="../../build/img/logo.png" alt="">
        </a>
        <ul class="header-menu">
            <li><a href="#">Меню</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
        <div class="flex">
            <a class="header-tel flex" href="tel:+3 (067) 505 81 18">
                <div class="krugal">
                    <img src="../../build/img/phone.svg" alt="">
                </div>
                <span>+3 (067) 505 81 18</span>
            </a>
            <ul class="header-icons">
                <li>
                    <a href="#">
                        <div class="krugal open-enter">
                            <img src="../../build/img/user.svg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="krugal">
                            <img src="../../build/img/cart.svg" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
